<% layout('./layouts/boilerplate') %>
    <h1 class="text-center mt-5">Welcome to <%=company.name%> please choose:</h1>
    <div class="col-6 offset-3">
        <div class="d-flex justify-content-evenly mt-5">
            <%workflows.forEach(wf=>{%>
                <button class="d-flex bg-success bg-gradient flex-row w-50 w-50 p-5 text-light border border-5">
                    <%=wf.name%>
                </button>
                <%});%>
        </div>
        <div class="row col-6 offeset-3 mp-3">
        </div>
    </div>